.not-found-container{
    height: 100vh;
    background-color: rgb(105, 93, 93);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.not-found-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notfound-heading{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

@media screen and (min-width: 768px){
    .not-found-container{
        height: 100vh;
        
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
    }
    
    
    
    .notfound-heading{
        
        font-size: 30px;
        
        font-weight: 500;
    }
}