@media screen and (max-width: 767px){
    .home-container {
        width: 100vw;
    }
    
    .classpass-container {
        background-image: url("https://res.cloudinary.com/my-cloud123/image/upload/v1694769141/Creative%20skills/ClassPass_Press_Image43_1_hwm7zx.png");
        background-size: cover;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .classpass-heading {
        color: #ffffff;
        /* font-family: "Roboto"; */
        font-size: 30px;
        font-weight: 400;
        margin: auto;
        /* text-align: center; */
    }
    
    .main-container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        background-image: linear-gradient(to bottom, #c1b1c1, #cae1af);
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    
    
    .sub-heading {
        font-size: 7px;
        font-weight: 700;
        flex-grow: 1;
    }
    
    .para {
        max-width: 200px;
        font-size: 7px;
    }
    
    .center-aligned-para {
        text-align: center;
    }
    
    .worked-together-img {
        height: 150px;
        width: 250px;
        margin-bottom: 20px;
    }
    
    
    .challenge-image-container {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-bottom: 20px;
    }
    
    .challenge-image {
        height: 100px;
        width: 120px;
    }
    
    .results-container {
        display: flex;
        justify-content: space-between;
        width: 230px;
        margin-bottom: 20px;
    }
    
    .result-detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .result-detail-heading {
        font-size: 25px;
        margin-bottom: 0px;
        color: #3c3c3c;
        margin-top: 0px;
    }
    
    .result-detail-para {
        font-size: 8px;
        max-width: 50px;
    }
    
    .result-image {
        height: 200px;
        width: 250px;
        margin-bottom: 20px;
    }
    
    .name-title-company-heading {
        font-size: 7px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}





@media screen and (min-width: 768px) {
    .classpass-container {
        height: 600px;
    }

    .classpass-heading {
        font-size: 50px;
        font-weight: 400;
        margin: auto;
    }

    .main-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sub-heading {
        font-size: 15px;
        font-weight: 500;
    }

    .para {
        max-width: 400px;
        font-size: 12px;
    }

    .worked-together-img {
        height: 350px;
        width: 500px;
    }

    .challenge-image-container {
        width: 510px;
    }

    .challenge-image {
        height: 180px;
        width: 250px;
    }

    .results-container {
        min-width: 400px;
    }

    .result-detail-heading {
        font-size: 50px;
        margin-bottom: 0px;

    }

    .result-detail-para {
        font-size: 12px;
        max-width: 50px;
    }

    .result-image {
        height: 350px;
        width: 500px;
    }

    .name-title-company-heading {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    
}