.footer-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.footer-sections-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-heading{
    font-size: 8px;
}

.footer-section-para{
    font-size: 7px;
    max-width: 50px;
    text-align: center;
}

.footer-logo-image{
    color: #818181;
    font-size: 25px;
}

@media screen and (min-width: 768px){
    .footer-container{
        width: 100vw;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .footer-sections-container{
        min-width: 600px;
    }
    
    .footer-section-heading{
        font-size: 20px;
    }
    
    .footer-section-para{
        font-size: 18px;
    max-width: 223px;
    }
    
    .footer-logo-image{
        font-size: 73px;
    }
}